# Ignorar entornos virtuales
venv/
env/
Include/
Lib/
Scripts/
pyvenv.cfg

# Ignorar cachés de Python
__pycache__/
*.pyc
*.pyo

# Archivos de configuración locales
.env
var/

# Ignorar otras configuraciones o archivos temporales
.DS_Store
.idea/
*.log
